### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea
build/
.gradle/

build.gradle.kts
gradle*
settings.gradle.kts

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
